@import "../css/fonts.css";
@import "../css/global.css";
@import "../css/normalize.css";

.content__container {
  display: flex;
  gap: 32px;
}

.products__type {
  margin-bottom: 32px;
  color: #260f08;
  font-weight: 700;
  font-size: 32px;
  margin-left: 40px;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.selected__container {
  background-color: white;
  height: 299px;
  border-radius: 8px;
  width: 324px;
}

.confirm__btn {
  margin-left: 200px;
  background-color: #c73b0f;
  color: white;
  border-radius: 999px;
  border: none;
  padding: 16px 113px;
  &:hover {
    background-color: inherit;
    border: 1px solid #c73b0f;
    transition: 0.3s;
    color: #c73b0f;
    cursor: pointer;
  }
  &:active {
    opacity: 0.7;
  }
}

.warning {
  color: #87635a;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.selected__cards__title {
  color: #c73b0f;
  font-weight: 700;
  font-size: 22px;
  left: 0;
  margin-bottom: 24px;
}

.warning__wrapper {
  justify-items: center;
}

.cake {
  margin-left: 300px;
}

.selected__card__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#selected-card-info {
  display: flex;
  gap: 10px;
}

@media (max-width: 800px) {
  .content__container {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  li {
    width: 200px;
  }

  .selected__container {
    width: 680px;
  }

  .buy__btn {
    margin-top: -22px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    padding: 9.5px 18px;
    background-color: white;
    font-weight: 500;
    border: 1px solid #ad8a85;
    border-radius: 999px;
    position: absolute;
    &:hover {
      color: #c73b0f;
      border: 1px solid #c73b0f;
      transition: 0.3s;
    }
  }
}

@media (max-width: 375px) {
  .cards__list {
    display: flex;
    flex-direction: column;
  }

  .content__container {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  .selected__container {
    width: 300px;
  }
}
